<a href="https://colab.research.google.com/github/akitim/SkillFactory_projects/blob/main/Akimkin_Timofey_%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82_4_%D0%90%D0%B2%D0%B8%D0%B0%D1%80%D0%B5%D0%B9%D1%81%D1%8B_%D0%B1%D0%B5%D0%B7_%D0%BF%D0%BE%D1%82%D0%B5%D1%80%D1%8C_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Загрузка библиотек

In [16]:
import pandas as pd
from datetime import datetime as dat
#import matplotlib
import matplotlib.pyplot as plt
# import seaborn as sns
import warnings; warnings.filterwarnings('ignore') #(action='once')
# import missingno as msno
# from itertools import combinations
# from scipy.stats import ttest_ind
# from scipy.stats import norm
 
%matplotlib inline
 
pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок
pd.options.display.precision = 2
# pd.options.display.float_format = '{:.2f}'.format

#Загрузка датасета

In [23]:
path = 'https://raw.githubusercontent.com/akitim/datasets/main/Project_4%20-%20Loseless%20flights.csv'
data = pd.read_csv(path)

data[['avg_speed', 'gain_per_flight', 'income_per_flight_eval1', 'income_per_flight_eval2']] =\
    data[['avg_speed', 'gain_per_flight', 'income_per_flight_eval1', 'income_per_flight_eval2']].\
        apply(lambda se: se.apply(lambda x: '%.0f' % x), axis=1)
        
data.scheduled_departure = data.scheduled_departure.apply(lambda t: dat.strptime(t, '%Y-%m-%dT%H:%M:%SZ'))

data.drop(['flight_id', 'avg_speed'], axis=1, inplace=True)

data.sample(5)

,departure_city,arrival_city,scheduled_departure,flight_duration_in_hr,flight_distance,aircraft_model,seats_in_a_plane,seats_sold,gain_per_flight,income_per_flight_eval1,income_per_flight_eval2
9,Анапа,Москва,2017-01-07 10:05:00,1.65,1208,Boeing 737-300,130,120,1738400,1582233,1574317
31,Анапа,Москва,2017-01-22 10:05:00,1.67,1208,Boeing 737-300,130,117,1654200,1501937,1488460
63,Анапа,Новокузнецк,2017-01-17 06:10:00,5.12,3661,Boeing 737-300,130,0,nan,nan,nan
111,Анапа,Белгород,2017-02-13 09:25:00,0.83,636,Sukhoi Superjet-100,97,97,765300,718938,702674
88,Анапа,Белгород,2017-01-15 09:25:00,0.83,636,Sukhoi Superjet-100,97,87,689700,646139,624095

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   departure_city           127 non-null    object
 1   arrival_city             127 non-null    object
 2   scheduled_departure      127 non-null    datetime64[ns]
 3   flight_duration_in_hr    127 non-null    float64
 4   flight_distance          127 non-null    int64
 5   avg_speed                127 non-null    object
 6   aircraft_model           127 non-null    object
 7   seats_in_a_plane         127 non-null    int64
 8   seats_sold               127 non-null    int64
 9   gain_per_flight          127 non-null    object
 10  income_per_flight_eval1  127 non-null    object
 11  income_per_flight_eval2  127 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(3), object(7)
memory usage: 12.0+ KB

In [ ]:
plt.figure(figsize = (20, 5))
data.seats_sold.hist(bins=20);

plt.show()
plt.figure(figsize = (20, 5))
data.avg_speed.hist(bins=10);

###рейсы в Новокузнецк не относятся к отменненым, однако данных по количеству купленных билетов и соответственно по прибыли нет

In [20]:
data[(data.seats_sold != 0) & (data.arrival_city == 'Новокузнецк')].shape

(0, 12)

In [24]:
data.columns
data.groupby(by=['arrival_[city', 'aircraft_model'])[]].count()

,,departure_city,scheduled_departure,flight_duration_in_hr,flight_distance,seats_in_a_plane,seats_sold,gain_per_flight,income_per_flight_eval1,income_per_flight_eval2
arrival_city,aircraft_model,,,,,,,,,
Белгород,Sukhoi Superjet-100,59,59,59,59,59,59,59,59,59
Москва,Boeing 737-300,59,59,59,59,59,59,59,59,59
Новокузнецк,Boeing 737-300,9,9,9,9,9,9,9,9,9