<a href="https://colab.research.google.com/github/akitim/SkillFactory_projects/blob/main/Akimkin_Timofey_%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82_4_%D0%90%D0%B2%D0%B8%D0%B0%D1%80%D0%B5%D0%B9%D1%81%D1%8B_%D0%B1%D0%B5%D0%B7_%D0%BF%D0%BE%D1%82%D0%B5%D1%80%D1%8C_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
#import matplotlib
# import matplotlib.pyplot as plt
# import seaborn as sns
import warnings; warnings.filterwarnings('ignore') #(action='once')
# import missingno as msno
# from itertools import combinations
# from scipy.stats import ttest_ind
# from scipy.stats import norm
 
%matplotlib inline
 
pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок
pd.options.display.precision = 2
# pd.options.display.float_format = '{:.2f}'.format

In [37]:
path = 'https://raw.githubusercontent.com/akitim/datasets/main/Project_4%20-%20Loseless%20flights.csv'
data = pd.read_csv(path)

data[['avg_speed', 'gain_per_flight', 'income_per_flight_eval1', 'income_per_flight_eval2']] =\
    data[['avg_speed', 'gain_per_flight', 'income_per_flight_eval1', 'income_per_flight_eval2']].apply(lambda se: se.apply(lambda x: '%.0f' % x), axis=1)

data.sample(5)

,flight_id,departure_city,arrival_city,scheduled_departure,flight_duration_in_hr,flight_distance,avg_speed,aircraft_model,seats_in_a_plane,seats_sold,gain_per_flight,income_per_flight_eval1,income_per_flight_eval2
126,136956,Анапа,Белгород,2017-02-04T09:25:00Z,0.83,636,763,Sukhoi Superjet-100,97,96,746400,700516,683774
46,136423,Анапа,Москва,2017-01-10T10:05:00Z,1.67,1208,725,Boeing 737-300,130,129,1849400,1681521,1683660
94,136757,Анапа,Белгород,2017-01-27T09:25:00Z,0.82,636,779,Sukhoi Superjet-100,97,97,765300,716732,701007
87,136706,Анапа,Белгород,2017-01-06T09:25:00Z,0.83,636,763,Sukhoi Superjet-100,97,95,740100,692533,674495
88,136709,Анапа,Белгород,2017-01-15T09:25:00Z,0.83,636,763,Sukhoi Superjet-100,97,87,689700,646139,624095

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   flight_id                127 non-null    int64
 1   departure_city           127 non-null    object
 2   arrival_city             127 non-null    object
 3   scheduled_departure      127 non-null    object
 4   flight_duration_in_hr    127 non-null    float64
 5   flight_distance          127 non-null    int64
 6   avg_speed                127 non-null    object
 7   aircraft_model           127 non-null    object
 8   seats_in_a_plane         127 non-null    int64
 9   seats_sold               127 non-null    int64
 10  gain_per_flight          127 non-null    object
 11  income_per_flight_eval1  127 non-null    object
 12  income_per_flight_eval2  127 non-null    object
dtypes: float64(1), int64(4), object(8)
memory usage: 13.0+ KB