<a href="https://colab.research.google.com/github/akitim/SkillFactory_projects/blob/main/Project_1_Who_wants_to_be_a_millionaire_Timofey_Akimkin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
from itertools import combinations
 
import sys
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
sys.path.clear
sys.path.append('/content/gdrive/MyDrive/SkillFactory')

Mounted at /content/gdrive

In [261]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
data.sample(3)

        imdb_id    budget    revenue  ... release_date vote_average release_year
1023  tt0837562  85000000  358375603  ...    9/20/2012          6.7         2012
787   tt1093357  30000000   64626786  ...   12/25/2011          4.7         2011
1157  tt0279111  56000000   12923936  ...    2/21/2003          5.8         2003

[3 rows x 14 columns]

In [4]:
# data.describe()

# Предобработка

In [262]:
answers = {} # создадим словарь для ответов

#здесь исправляется странное поведение Google Colab,
#когда колонка release_date считывается то как timestamp,
#то как string

if type(data.release_date[0]) == str:
    data.release_date = data.release_date.apply(
        lambda x: dt.datetime.strptime(x,'%m/%d/%Y'))

data['profit'] = data.revenue - data.budget #добавляем колонку profit

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ... "That my dear Balin, is not entirely true"

# 1. У какого фильма из списка самый большой бюджет?

In [7]:
# тут пишем ваш код для решения данного вопроса:
title = data[data.budget == data.budget.max()].original_title.iloc[0]
id = data[data.budget == data.budget.max()].imdb_id.iloc[0]
print(title + ' (' + id + ')')

Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [6]:
answers['01'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [8]:
title = data.query('budget == budget.max()').original_title.iloc[0]
id = data.query('budget == budget.max()').imdb_id.iloc[0]
print(title + ' (' + id + ')')

Pirates of the Caribbean: On Stranger Tides (tt1298650)

# 2. Какой из фильмов самый длительный (в минутах)?

In [228]:
data_filtered2 = data[data.runtime == data.runtime.max()]

title2 = data_filtered2.original_title.iloc[0]
id2 = data_filtered2.imdb_id.iloc[0]

print(title2 + ' (' + id2 + ')')

Gods and Generals (tt0279111)

ВАРИАНТ 2

In [227]:
data_filtered2 = data.query('runtime == runtime.max()')

title2 = data_filtered2.original_title.iloc[0] 
id2 = data_filtered2.imdb_id.iloc[0]

print(title2 + ' (' + id2 + ')')

Gods and Generals (tt0279111)

In [9]:
answers['02'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [229]:
data_filtered3 = data[data.runtime == data.runtime.min()]

title3 = data_filtered3.original_title.iloc[0]
id3 = data_filtered3.imdb_id.iloc[0]

print(title3 + ' (' + id3 + ')')

Winnie the Pooh (tt1449283)

ВАРИАНТ 2

In [230]:
data_filtered3 = data.query('runtime == runtime.min()')

title3 = data_filtered3.original_title.iloc[0] 
id3 = data_filtered3.imdb_id.iloc[0]

print(title3 + ' (' + id3 + ')')

Winnie the Pooh (tt1449283)

In [12]:
answers['03'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [232]:
print (round(data.runtime.mean()))

110

In [231]:
answers['04'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [16]:
print (round(data.runtime.median()))

107

In [ ]:
answers['05'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [233]:
data_filtered6 = data.query("profit == profit.max()")
title6 = data_filtered6.original_title.iloc[0]
id6 = data_filtered6.imdb_id.iloc[0]

print(title6 + ' (' + id6 + ')')

Avatar (tt0499549)

In [234]:
answers['06'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [236]:
data_filtered7 = data.query("profit == profit.min()")
title7 = data_filtered7.original_title.iloc[0]
id7 = data_filtered7.imdb_id.iloc[0]

print(title7 + ' (' + id7 + ')')

The Lone Ranger (tt1210819)

In [ ]:
answers['07'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [237]:
data_filtered8 = data.query("profit > 0")
print(len(data_filtered8))

1478

In [20]:
answers['08'] = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
data_2008 = data.query("release_year == 2008").query("revenue == revenue.max()")
print(data_2008.original_title.iloc[0])

The Dark Knight

In [22]:
answers['09'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [240]:
data_filtered10 = data.query(
    "(release_year >= 2012) & (release_year <= 2014)"
    ).query("revenue == revenue.min()")

print(
    data_filtered10.original_title.iloc[0] + ' (' + 
    data_filtered10.imdb_id.iloc[0] + ')'
)

Man of Tai Chi (tt2016940)

In [241]:
answers['10'] = 'Man of Tai Chi (tt2016940)'

# 11. Какого жанра фильмов больше всего?

In [244]:
gp11 = data.groupby( by = 'genres' ).count()[ 'imdb_id' ]
print( gp11[ gp11 == gp11.max() ].index[0] )

Comedy

ВАРИАНТ 2

In [25]:
data.genres = data.genres.str.split('|', expand=False)
data = data.explode('genres')

genres_pvt11 = data.pivot_table (values = ['original_title'],
index = ['genres'],
aggfunc = 'count',
fill_value = 0,
margins = True)

print(genres_pvt11['original_title'].
      sort_values(ascending = False).index[1])

Drama

In [242]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [248]:
data.genres = data.genres.str.split('|', expand=False)
data = data.explode('genres')


genres_pvt12 = data.pivot_table (values = ['profit'],
index = ['genres'],
aggfunc = 'sum',
fill_value = 0,
margins = False)

print( genres_pvt12.query("profit == profit.max()").index[0] )

Adventure

In [ ]:
answers['12'] = 'Adventure'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [263]:
data.director = data.director.str.split('|', expand=False)
data_expl13 = data.explode('director')

gp13 = data_expl13.groupby(by = 'director').sum()['profit']
print (gp13[gp13 == gp13.max()].index[0])

Peter Jackson

In [249]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [270]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.director = data.director.str.split('|', expand=False)
data_expl14 = data.explode('director')

data_expl14.genres = data_expl14.genres.str.split('|', expand=False)
data_expl14 = data_expl14.explode('genres')

pvt14 = data_expl14.pivot_table (values = ['imdb_id'],
index = ['genres'],
columns = ['director'],
aggfunc ='count',
fill_value = 0,
margins = False)

max_action = pvt14.loc["Action"]
print( max_action[max_action == max_action.max()].index[0][1] )

Robert Rodriguez

In [264]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [271]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.cast = data.cast.str.split('|', expand=False)
data_expl15 = data.explode('cast')

data_expl15 = data_expl15[
                          data_expl15.release_year == 2012
                          ].groupby(by = 'cast').sum()
print (
    data_expl15[data_expl15.revenue == data_expl.revenue.max()].index[0]
)

# pvt = data_expl.pivot_table (values = ['revenue'],
# index = ['cast'],
# columns = ['release_year'],
# aggfunc ='sum',
# fill_value = 0,
# margins = False)

Chris Hemsworth

In [272]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [273]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.cast = data.cast.str.split('|', expand=False)
data_expl16 = data.explode('cast')

data_expl16 = data_expl16[data_expl16.budget > data_expl16.budget.mean()]
print(data_expl16['cast'].value_counts().index[0])

Matt Damon

In [32]:
answers['16'] ='Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [276]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.cast = data.cast.str.split('|', expand=False)
data_expl17 = data.explode('cast')

data_expl17.genres = data_expl17.genres.str.split('|', expand=False)
data_expl17 = data_expl17.explode('genres')

se17 = data_expl17[
               data_expl17.cast == 'Nicolas Cage'
               ].groupby(by='genres').count().imdb_id
print(se17[se17==se17.max()].index[0])

Action

In [34]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [294]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

data.production_companies = data.production_companies.str.split(
    '|', expand=False)
data_expl18 = data.explode('production_companies')

data_expl18 = data_expl18[data_expl18.production_companies == 'Paramount Pictures']
df18 = data_expl18[data_expl18.profit == 
          data_expl18.profit.min()]
title18 = df18['original_title'].values[0]
id18 = df18['imdb_id'].values[0]

print( title18 + ' (' + id18 + ')')

K-19: The Widowmaker (tt0267626)

In [292]:
# data[data.production_companies.str.contains('Paramaount Pictures')] #.sort_values(by='profit')

KeyError: ignored

In [36]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [37]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

se = data.groupby(by='release_year').sum().revenue
se[se == se.max()].index[0]

2015

In [38]:
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [39]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

data.production_companies = data.production_companies.str.split(
    '|', expand=False)
data_expl = data.explode('production_companies')

data_expl = data_expl[data_expl.production_companies == 'Warner Bros.']
se = data_expl.groupby(by='release_year').sum().profit
se[se == se.max()].index[0]

2007

In [40]:
answers['20'] = 2007

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [41]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

date_sample = data.release_date[0] #
if type(date_sample) == str:
    data.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y'))

data['month'] = data.release_date.apply(lambda x: x.month)
data.groupby(by='month').count()
data.month.value_counts().index[0]

9

In [42]:
answers['21'] = 'сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [43]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

date_sample = data.release_date[0] #
if type(date_sample) == str:
    data.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y'))

data['month'] = data.release_date.apply(lambda x: x.month)

data[(data.month >= 6) & (data.month <= 8)]['imdb_id'].nunique()

450

In [44]:
answers['22'] = 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [45]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

date_sample = data.release_date[0]
if type(date_sample) == str:
    data.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y'))

data['month'] = data.release_date.apply(lambda x: x.month)

data.director = data.director.str.split('|', expand=False)
data_expl = data.explode('director')

print( data_expl[(data_expl.month == 12) |
          (data_expl.month <= 2)]['director'].value_counts().index[0] )

Peter Jackson

In [46]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [47]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.production_companies = data.production_companies.str.split(
    '|', expand=False)
data_expl = data.explode('production_companies')

data_expl['ot_length'] = data_expl.original_title.apply(len)

print(data_expl.groupby(
    'production_companies').mean().ot_length.sort_values(
        ascending=False).index[0]
      )

Four By Two Productions

In [48]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [49]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
 
data.production_companies = data.production_companies.str.split(
    '|', expand=False
    )
data_expl = data.explode('production_companies')
 
def word_count(s):
    return len(s.split(' '))
 
data_expl['words_in_overview'] = data_expl.overview.apply(word_count)
 
print(data_expl.groupby(
    'production_companies').mean().words_in_overview.sort_values(
        ascending=False).index[0])

Midnight Picture Show

In [116]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [115]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
# display (data.sample(1))
 
best_percentage = 0.01
best_percentage_quantile = data.vote_average.quantile(1 - best_percentage)

# data.query(f"'vote_average' >= {best_percentage_quantile}")
# data.query("'vote_average' >= 7.8")

print (
    data[data.vote_average > best_percentage_quantile]['original_title'].values
)

['Inside Out' 'Room' 'Interstellar' 'Guardians of the Galaxy'
 'The Imitation Game' 'Gone Girl' 'The Grand Budapest Hotel' 'Inception'
 'The Dark Knight' 'The Pianist'
 'The Lord of the Rings: The Return of the King' 'The Wolf of Wall Street'
 '12 Years a Slave' 'Memento']

In [111]:
answers['26'] = ['Inside Out', 'The Dark Knight', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [217]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
data.cast = data.cast.str.split('|', expand=False)

data.cast = data.cast.apply(lambda actor: list( combinations( actor, 2 ) ) )

data_pairs = data.explode('cast')
data_pairs.groupby(
    by='cast'
    ).count()['imdb_id'
            ].sort_values(ascending=False).index[1]

('Daniel Radcliffe', 'Rupert Grint')

In [221]:
answers ['27'] = ('Daniel Radcliffe', 'Rupert Grint')

In [ ]:
from itertools import combinations
list(combinations('qwe',2))

data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.cast = data.cast.str.split('|', expand=False)
data_expl = data.explode('cast')

actors = data_expl.cast.unique()

# c = 0
# for pairs in combinations(actors, 2):
#     c +=1
#     if c >= 5: break
#     print (i)

def flatten(lst):
    return [item for subls in lst for item in subls]

smart_pairs = (
              flatten( list( combinations( ls,2 ) ) for ls in data.cast.values )
)

In [166]:
data[data.original_title.str.find ('Dredd') != -1]
data[data.release_year == -1]

        imdb_id    budget   revenue  ... release_date vote_average release_year
1010  tt1343727  50000000  41037742  ...     9/7/2012          6.5         2012

[1 rows x 14 columns]

ВАРИАНТ 2

# Submission

In [222]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'01': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '02': 'Gods and Generals (tt0279111)',
 '03': 'Winnie the Pooh (tt1449283)',
 '04': '110',
 '05': '107',
 '06': 'Avatar (tt0499549)',
 '07': 'The Lone Ranger (tt1210819)',
 '08': 1478,
 '09': 'The Dark Knight',
 '10': 'Man of Tai Chi',
 '11': 'Drama',
 '12': 'Adventure',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2007,
 '21': 'сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Midnight Picture Show',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [118]:
# и убедиться что ни чего не пропустил)
len(answers)

26