<a href="https://colab.research.google.com/github/akitim/SkillFactory_projects/blob/main/Project_1_Who_wants_to_be_a_millionaire_Timofey_Akimkin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
# import seaborn as sns
# import matplotlib.pyplot as plt
# from collections import Counter
 
import sys
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
sys.path.clear
sys.path.append('/content/gdrive/MyDrive/SkillFactory')

Mounted at /content/gdrive

In [3]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
data.head(1)

     imdb_id     budget     revenue  ... release_date vote_average release_year
0  tt0369610  150000000  1513528810  ...     6/9/2015          6.5         2015

[1 rows x 14 columns]

In [4]:
# data.describe()

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов


# тут другие ваши предобработки колонок например:

date_sample = data.release_date[0] #
if type(date_sample) == str:
    data.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y'))

# display (data[data.release_date == data.release_date[0]])
# print(data.release_date[0].month)
# data.release_date = data.release_date.apply(dt.datetime.strptime,args = ('%m/%d/%Y',))

data['profit'] = data.revenue - data.budget

data.sample(3)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ... "That my dear Balin, is not entirely true"

       imdb_id     budget    revenue  ... vote_average release_year    profit
528  tt0239395   60000000   93375151  ...          5.0         2001  33375151
924  tt0264472   45000000   94935764  ...          5.7         2002  49935764
64   tt3332064  150000000  128388320  ...          5.9         2015 -21611680

[3 rows x 15 columns]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'

# запишите свой вариант ответа
answers['01'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
title = data[data.budget == data.budget.max()].original_title.iloc[0]
id = data[data.budget == data.budget.max()].imdb_id.iloc[0]
print(title + ' (' + id + ')')

Pirates of the Caribbean: On Stranger Tides (tt1298650)

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
title = data.query('budget == budget.max()').original_title.iloc[0]
id = data.query('budget == budget.max()').imdb_id.iloc[0]
print(title + ' (' + id + ')')

Pirates of the Caribbean: On Stranger Tides (tt1298650)

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['02'] = 'Gods and Generals (tt0279111)'

In [10]:
data_filtered = data[data.runtime == data.runtime.max()]

title = data_filtered.original_title.iloc[0]
id = data_filtered.imdb_id.iloc[0]

print(title + ' (' + id + ')')

#data.query("original_title == 'Gods and Generals'").runtime.values[0]
#display(data[data.cast.str.contains('Anthony Hopkins')])

Gods and Generals (tt0279111)

ВАРИАНТ 2

In [11]:
data_filtered = data.query('runtime == runtime.max()')

title = data_filtered.original_title.iloc[0] 
id = data_filtered.imdb_id.iloc[0]

print(title + ' (' + id + ')')

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['03'] = 'Winnie the Pooh (tt1449283)'

In [13]:
data_filtered = data[data.runtime == data.runtime.min()]

title = data_filtered.original_title.iloc[0]
id = data_filtered.imdb_id.iloc[0]

print(title + ' (' + id + ')')

Winnie the Pooh (tt1449283)

ВАРИАНТ 2

In [14]:
data_filtered = data.query('runtime == runtime.min()')

title = data_filtered.original_title.iloc[0] 
id = data_filtered.imdb_id.iloc[0]

print(title + ' (' + id + ')')

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [15]:
print (round(data.runtime.mean()))

answers['04'] = '110'

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
print (round(data.runtime.median()))

answers['05'] = '107'

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data_filtered = data.query("profit == profit.max()")
title = data_filtered.original_title.iloc[0]
id = data_filtered.imdb_id.iloc[0]

print(title + ' (' + id + ')')

answers['06'] = 'Avatar (tt0499549)'

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [18]:
data_filtered = data.query("profit == profit.min()")
title = data_filtered.original_title.iloc[0]
id = data_filtered.imdb_id.iloc[0]

print(title + ' (' + id + ')')

answers['07'] = 'The Lone Ranger (tt1210819)'

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
data_filtered = data.query("profit > 0")
print(len(data_filtered))

1478

In [20]:
answers['08'] = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
data_2008 = data.query("release_year == 2008").query("revenue == revenue.max()")
print(data_2008.original_title.iloc[0])

The Dark Knight

In [22]:
answers['09'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [63]:
data_filtered = data.query("(release_year >= 2012) & (release_year <= 2014)").query("revenue == revenue.min()")

print(data_filtered.original_title.iloc[0])

answers['10'] = 'Man of Tai Chi'

Man of Tai Chi

# 11. Какого жанра фильмов больше всего?

In [24]:
gp = data.groupby(by = 'genres').count()['imdb_id']
print(gp[gp == gp.max()].index[0])

answers['11'] = 'Drama'

Comedy

ВАРИАНТ 2

In [25]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.genres = data.genres.str.split('|', expand=False)
data = data.explode('genres')

genres_pvt = data.pivot_table (values = ['original_title'],
index = ['genres'],
aggfunc = 'count',
fill_value = 0,
margins = True)

print(genres_pvt['original_title'].
      sort_values(ascending = False).index[1])

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [26]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
data.genres = data.genres.str.split('|', expand=False)
data = data.explode('genres')


genres_pvt = data.pivot_table (values = ['profit'],
index = ['genres'],
aggfunc = 'sum',
fill_value = 0,
margins = False)

print( genres_pvt.query("profit == profit.max()").index[0] )

answers['12'] = 'Adventure'

Adventure

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [27]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

data.director = data.director.str.split('|', expand=False)
data_expl = data.explode('director')

# data_expl[data_expl.director.str.find('Wachowski') != -1]
gp = data_expl.groupby(by = 'director').sum()['profit']
print (gp[gp == gp.max()].index[0])

answers['13'] = 'Peter Jackson'

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [28]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.director = data.director.str.split('|', expand=False)
data_expl = data.explode('director')

data_expl.genres = data_expl.genres.str.split('|', expand=False)
data_expl = data_expl.explode('genres')

# gp = data_expl.groupby(by=['director', 'genres']).count()

pvt = data_expl.pivot_table (values = ['imdb_id'],
index = ['genres'],
columns = ['director'],
aggfunc ='count',
fill_value = 0,
margins = False)

# pvt.query("genres == 'Action'").sort_values(by ='Action', axis=1, ascending = False).iloc[0].index[0][1]
max_action = pvt.loc["Action"]
print( max_action[max_action == max_action.max()].index[0][1] )

answers['14'] = 'Robert Rodriguez'

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [29]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.cast = data.cast.str.split('|', expand=False)
data_expl = data.explode('cast')

data_expl = data_expl[data_expl.release_year == 2012].groupby(by = 'cast').sum()
print (data_expl[data_expl.revenue == data_expl.revenue.max()].index[0])

# pvt = data_expl.pivot_table (values = ['revenue'],
# index = ['cast'],
# columns = ['release_year'],
# aggfunc ='sum',
# fill_value = 0,
# margins = False)

Chris Hemsworth

In [30]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [31]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.cast = data.cast.str.split('|', expand=False)
data_expl = data.explode('cast')

data_expl = data_expl[data_expl.budget > data_expl.budget.mean()]
print(data_expl['cast'].value_counts().index[0])

Matt Damon

In [32]:
answers['16'] ='Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [33]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.cast = data.cast.str.split('|', expand=False)
data_expl = data.explode('cast')

data_expl.genres = data_expl.genres.str.split('|', expand=False)
data_expl = data_expl.explode('genres')

s = data_expl[data_expl.cast == 'Nicolas Cage'].groupby(
    by='genres').count().imdb_id
print(s[s==s.max()].index[0])

Action

In [34]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [167]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

data.production_companies = data.production_companies.str.split(
    '|', expand=False)
data_expl = data.explode('production_companies')

data_expl = data_expl[data_expl.production_companies == 'Paramount Pictures']
print (data_expl[data_expl.profit == 
          data_expl.profit.min()]['original_title'].values[0])

K-19: The Widowmaker

In [175]:
data[data['production_companies'].str.contains('P', na=False)]

Empty DataFrame
Columns: [imdb_id, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_average, release_year, profit]
Index: []

In [36]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [37]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

# data.cast = data.cast.str.split('|', expand=False)
# data_expl = data.explode('cast')

se = data.groupby(by='release_year').sum().revenue
se[se == se.max()].index[0]

2015

In [38]:
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [39]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

data.production_companies = data.production_companies.str.split(
    '|', expand=False)
data_expl = data.explode('production_companies')

data_expl = data_expl[data_expl.production_companies == 'Warner Bros.']
se = data_expl.groupby(by='release_year').sum().profit
se[se == se.max()].index[0]

2007

In [40]:
answers['20'] = 2007

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [41]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

date_sample = data.release_date[0] #
if type(date_sample) == str:
    data.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y'))

data['month'] = data.release_date.apply(lambda x: x.month)
data.groupby(by='month').count()
data.month.value_counts().index[0]

9

In [42]:
answers['21'] = 'сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [43]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

date_sample = data.release_date[0] #
if type(date_sample) == str:
    data.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y'))

data['month'] = data.release_date.apply(lambda x: x.month)

data[(data.month >= 6) & (data.month <= 8)]['imdb_id'].nunique()

450

In [44]:
answers['22'] = 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [45]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

date_sample = data.release_date[0]
if type(date_sample) == str:
    data.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y'))

data['month'] = data.release_date.apply(lambda x: x.month)

data.director = data.director.str.split('|', expand=False)
data_expl = data.explode('director')

print( data_expl[(data_expl.month == 12) |
          (data_expl.month <= 2)]['director'].value_counts().index[0] )

Peter Jackson

In [46]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [47]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.production_companies = data.production_companies.str.split(
    '|', expand=False)
data_expl = data.explode('production_companies')

data_expl['ot_length'] = data_expl.original_title.apply(len)

print(data_expl.groupby(
    'production_companies').mean().ot_length.sort_values(
        ascending=False).index[0]
      )

Four By Two Productions

In [48]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [49]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
 
data.production_companies = data.production_companies.str.split(
    '|', expand=False
    )
data_expl = data.explode('production_companies')
 
def word_count(s):
    return len(s.split(' '))
 
data_expl['words_in_overview'] = data_expl.overview.apply(word_count)
 
print(data_expl.groupby(
    'production_companies').mean().words_in_overview.sort_values(
        ascending=False).index[0])

Midnight Picture Show

In [116]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [115]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
# display (data.sample(1))
 
best_percentage = 0.01
best_percentage_quantile = data.vote_average.quantile(1 - best_percentage)

# data.query(f"'vote_average' >= {best_percentage_quantile}")
# data.query("'vote_average' >= 7.8")

print (
    data[data.vote_average > best_percentage_quantile]['original_title'].values
)

['Inside Out' 'Room' 'Interstellar' 'Guardians of the Galaxy'
 'The Imitation Game' 'Gone Girl' 'The Grand Budapest Hotel' 'Inception'
 'The Dark Knight' 'The Pianist'
 'The Lord of the Rings: The Return of the King' 'The Wolf of Wall Street'
 '12 Years a Slave' 'Memento']

In [111]:
answers['26'] = ['Inside Out', 'The Dark Knight', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [217]:
from itertools import combinations

data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
data.cast = data.cast.str.split('|', expand=False)

data.cast = data.cast.apply(lambda actor: list( combinations( actor, 2 ) ) )

data_pairs = data.explode('cast')
data_pairs.groupby(
    by='cast'
    ).count()['imdb_id'
            ].sort_values(ascending=False).index[1]

('Daniel Radcliffe', 'Rupert Grint')

In [221]:
answers ['27'] = ('Daniel Radcliffe', 'Rupert Grint')

In [ ]:
from itertools import combinations
list(combinations('qwe',2))

data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

data.cast = data.cast.str.split('|', expand=False)
data_expl = data.explode('cast')

actors = data_expl.cast.unique()

# c = 0
# for pairs in combinations(actors, 2):
#     c +=1
#     if c >= 5: break
#     print (i)

def flatten(lst):
    return [item for subls in lst for item in subls]

smart_pairs = (
              flatten( list( combinations( ls,2 ) ) for ls in data.cast.values )
)

In [166]:
data[data.original_title.str.find ('Dredd') != -1]
data[data.release_year == -1]

        imdb_id    budget   revenue  ... release_date vote_average release_year
1010  tt1343727  50000000  41037742  ...     9/7/2012          6.5         2012

[1 rows x 14 columns]

ВАРИАНТ 2

# Submission

In [222]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'01': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '02': 'Gods and Generals (tt0279111)',
 '03': 'Winnie the Pooh (tt1449283)',
 '04': '110',
 '05': '107',
 '06': 'Avatar (tt0499549)',
 '07': 'The Lone Ranger (tt1210819)',
 '08': 1478,
 '09': 'The Dark Knight',
 '10': 'Man of Tai Chi',
 '11': 'Drama',
 '12': 'Adventure',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2007,
 '21': 'сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Midnight Picture Show',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [118]:
# и убедиться что ни чего не пропустил)
len(answers)

26