<a href="https://colab.research.google.com/github/akitim/SkillFactory_projects/blob/main/Project_4_Computer_says_no_Akimkin_Timofey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# import sys
# from google.colab import drive
# drive.mount('/content/gdrive', force_remount=True)
# sys.path.clear
# sys.path.append('/content/gdrive/MyDrive/SkillFactory')

In [3]:
path = 'https://raw.githubusercontent.com/akitim/datasets/main/computer_says_no.csv'
data = pd.read_csv(path, encoding = 'ISO-8859-1', low_memory = False)
data.sample(1)

       client_id education sex  ...  income foreign_passport default
71581     101758       UGR   M  ...   30000                N       0

[1 rows x 14 columns]