<a href="https://colab.research.google.com/github/akitim/SkillFactory_projects/blob/main/Project_1_Who_wants_to_be_a_millionaire_Timofey_Akimkin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import datetime as dt
# import seaborn as sns
# import matplotlib.pyplot as plt
# from collections import Counter

import sys
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
sys.path.clear
sys.path.append('/content/gdrive/MyDrive/SkillFactory')

Mounted at /content/gdrive

In [33]:
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')
data.head(1)

     imdb_id     budget     revenue  ... release_date vote_average release_year
0  tt0369610  150000000  1513528810  ...     6/9/2015          6.5         2015

[1 rows x 14 columns]

In [5]:
# data.describe()

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов


# тут другие ваши предобработки колонок например:

date_sample = data.release_date[0] #
if type(date_sample) == str:
    data.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y'))

# display (data[data.release_date == data.release_date[0]])
# print(data.release_date[0].month)
# data.release_date = data.release_date.apply(dt.datetime.strptime,args = ('%m/%d/%Y',))

data['profit'] = data.revenue - data.budget

data.sample(3)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ... "That my dear Balin, is not entirely true"

        imdb_id    budget   revenue  ... vote_average release_year    profit
954   tt0168786  12500000  23367586  ...          6.6         2002  10867586
834   tt1334512  40000000  45735397  ...          5.3         2011   5735397
1156  tt0299930  54000000   7266209  ...          3.8         2003 -46733791

[3 rows x 15 columns]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'

# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
title = data[data.budget == data.budget.max()].original_title.iloc[0]
id = data[data.budget == data.budget.max()].imdb_id.iloc[0]
print(title + ' (' + id + ')')

Pirates of the Caribbean: On Stranger Tides (tt1298650)

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения
title = data.query('budget == budget.max()').original_title.iloc[0]
id = data.query('budget == budget.max()').imdb_id.iloc[0]
print(title + ' (' + id + ')')

Pirates of the Caribbean: On Stranger Tides (tt1298650)

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [11]:
data_filtered = data[data.runtime == data.runtime.max()]

title = data_filtered.original_title.iloc[0]
id = data_filtered.imdb_id.iloc[0]

print(title + ' (' + id + ')')

#data.query("original_title == 'Gods and Generals'").runtime.values[0]
#display(data[data.cast.str.contains('Anthony Hopkins')])

Gods and Generals (tt0279111)

ВАРИАНТ 2

In [12]:
data_filtered = data.query('runtime == runtime.max()')

title = data_filtered.original_title.iloc[0] 
id = data_filtered.imdb_id.iloc[0]

print(title + ' (' + id + ')')

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [14]:
data_filtered = data[data.runtime == data.runtime.min()]

title = data_filtered.original_title.iloc[0]
id = data_filtered.imdb_id.iloc[0]

print(title + ' (' + id + ')')

Winnie the Pooh (tt1449283)

ВАРИАНТ 2

In [15]:
data_filtered = data.query('runtime == runtime.min()')

title = data_filtered.original_title.iloc[0] 
id = data_filtered.imdb_id.iloc[0]

print(title + ' (' + id + ')')

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [16]:
print (round(data.runtime.mean()))

answers['4'] = '110'

110

# 5. Каково медианное значение длительности фильмов?

In [17]:
print (round(data.runtime.median()))

answers['5'] = '107'

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data_filtered = data.query("profit == profit.max()")
title = data_filtered.original_title.iloc[0]
id = data_filtered.imdb_id.iloc[0]

print(title + ' (' + id + ')')

answers['6'] = 'Avatar (tt0499549)'

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [19]:
data_filtered = data.query("profit == profit.min()")
title = data_filtered.original_title.iloc[0]
id = data_filtered.imdb_id.iloc[0]

print(title + ' (' + id + ')')

answers['7'] = 'The Lone Ranger (tt1210819)'

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
data_filtered = data.query("profit > 0")
print(len(data_filtered))

answers['8'] = 1478

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
data_2008 = data.query("release_year == 2008").query("revenue == revenue.max()")
print(data_2008.original_title.iloc[0])

answers['9'] = 'The Dark Knight'

The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [22]:
data_filtered = data.query("(release_year >= 2012) & (release_year <= 2014)").query("revenue == revenue.min()")
print(data_filtered.original_title.iloc[0])

answers['10'] = 'Man of Tai Chi'

Man of Tai Chi

# 11. Какого жанра фильмов больше всего?

In [53]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
# почему такая фамильярность в обращении к студенту?
data = pd.read_csv('/content/gdrive/MyDrive/SkillFactory/movie_bd_v5.csv')

display(data.head(1))

data.genres = data.genres.str.split('|', expand=False) #apply(str) #.split("|")
data = data.explode('genres')

genres_pvt = data.pivot_table (values = ['original_title'],
index = ['genres'],
columns = ['release_year'],
aggfunc = 'count',
fill_value = 0,
margins = True)

gp = data.groupby(by='genres')

display(genres_pvt.head(10))

genres_pvt [genres_pvt.original_title.All == genres_pvt.original_title.All.max()]
gp
#ng = g.str.split('|', expand=True)
#ng
# ls = [s.split("|") for s in g ]
# lsn = [item for sublist in ls for item in sublist]
# mask_set = set(lsn)
# mask_set

     imdb_id     budget     revenue  ... release_date vote_average release_year
0  tt0369610  150000000  1513528810  ...     6/9/2015          6.5         2015

[1 rows x 14 columns]

             original_title                      ...
release_year           2000 2001 2002 2003 2004  ... 2012 2013 2014 2015  All
genres                                           ...
Action                   27   37   36   34   34  ...   35   45   43   34  582
Adventure                18   20   24   20   26  ...   24   27   27   34  415
Animation                 6    7    6    3    8  ...   10   14    8    8  139
Comedy                   36   43   38   36   45  ...   36   37   36   40  683
Crime                    14   24   20   20   16  ...   19   28   16   20  315
Documentary               0    0    0    1    1  ...    1    0    0    0    8
Drama                    36   38   50   27   43  ...   45   57   51   52  782
Family                   11   11   13   12   14  ...   11   17   13   13  260
Fantasy                  10   11    9   13    9  ...   14   14   13   12  222
Foreign                   1    0    0    0    0  ...    0    0    0    0    2

[10 rows x 17 columns]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сборы?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [24]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'Man of Tai Chi',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight'}

In [25]:
# и убедиться что ни чего не пропустил)
len(answers)

10